 <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
    
 <% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
　　<div class="container">
　　<div class="row">
　　  <div class="col-Ig-5 px-5 px-sm-0 mx-auto" >
    <h1>Editing Book</h1>
   <br>
      <%= form_with model: @book do |f| %>
   <h7>Title</h7>
   
    <br />
    
   <%= f.text_field :title %>
    
    <br />
    
   <h7>Option</h7>
   
    <br />
  
   <%= f.text_area :body %>
    
    <br />
    
  <%= f.submit "Update Book", class:"btn btn-success" %>
    <% end %>
      <br />
      <%= link_to "Show", book_path(@book) %>
      |
      <%= link_to "Back", books_path %>
    </div>
</div>